.listItem {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;

  span {
    justify-self: center;

    &:first-child {
      cursor: pointer;
    }
  }

  &:not(:last-child) {
    border-bottom: 1px solid $secondary-color;
  }

  .copyButton {
    padding: 5px;
    font-size: .8rem;
    background-color: $secondary-text-color;
  }
}
